<%= render 'layouts/galleryheader' %>




<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag("gallery/lichspray.jpg", :class => "img-responsive", :alt => "lichspray") %>
      <div class="caption">
        <h3>Lichtenstein Remix</h3>
        <p>Spray Paint on 18"x14" Wood Panel</p>
        <p>Credits: Spray Can, Roy Lichtenstein</p>
        <p><a href="/assets/gallery/lichspray.jpg" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag("gallery/losttape.jpg", :class => "img-responsive", :alt => "losttape") %>
      <div class="caption">
        <h3>Lost in the Mix</h3>
        <p>Markers on 24"x18" Black Canvas</p>
        <p>Credits: Stencil1</p>
        <p><a href="/assets/gallery/losttape.jpg" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/koi1.jpg", :class => "img-responsive", :alt => "koi1") %>
      <div class="caption">
        <h3>Koi #1</h3>
        <p>Spray Paint on 20"x24" Wood Panel</p>
        <p>Credits: The Stencil Library</p>
        <p><a href="/assets/gallery/koi1.jpg" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/calavera1.jpg", :class => "img-responsive", :alt => "calavera1") %>
      <div class="caption">
        <h3>Skull and Rose</h3>
        <p>Spray Paint on 11"x14" Black Canvas</p>
        <p>Credits: Stencil1</p>
        <p><a href="/assets/gallery/calavera1.jpg" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/koi2.jpg", :class => "img-responsive", :alt => "koi2") %>
      <div class="caption">
        <h3>Koi #2</h3>
        <p>Spray Paint & Markers on 20"x24" Wood Panel</p>
        <p>Credits: The Stencil Library</p>
        <p><a href="/assets/gallery/koi2.jpg" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag("gallery/robotrock.jpg", :class => "img-responsive", :alt => "robotrock") %>
      <div class="caption">
        <h3>Robot Rock</h3>
        <p>Spray Paint and Markers on 24"x12" Canvas</p>
        <p>Credits: Daft Punk</p>
        <p><a href="/assets/gallery/robotrock.jpg" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag("gallery/risingdragons.jpg", :class => "img-responsive", :alt => "risingdragons") %>
      <div class="caption">
        <h3>Rising Dragons</h3>
        <p>Spray Paint and Markers on 36"x12" Canvas</p>
        <p>Credits: The Stencil Library</p>
        <p><a href="/assets/gallery/risingdragons.jpg" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/drips1.jpg", :class => "img-responsive", :alt => "drips1") %>
      <div class="caption">
        <h3>Drips #1</h3>
        <p>Spray Paint and Markers on 16"x18" Canvas</p>
        <p><a href="/assets/gallery/drips1.jpg" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/cheese.jpg", :class => "img-responsive lightbox_trigger", :alt => "cheese") %>
      <div class="caption">
        <h3>Cheese!</h3>
        <p>Markers on 10"x10" Wood Panel</p>
        <p>Credits: Stencil1</p>
        <p><a href="/assets/gallery/cheese.jpg" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/houndstooth1.jpg", :class => "img-responsive", :alt => "houndstooth1") %>
      <div class="caption">
        <h3>Houndstooth #1</h3>
        <p>Acrylic Paint and Markers on Wood Panel</p>
        <p>Credits: Stencil1</p>
        <p><a href="/assets/gallery/houndstooth1.jpg" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag("gallery/dreamtag.jpg", :class => "img-responsive", :alt => "dreamtag") %>
      <div class="caption">
        <h3>Dream Tag</h3>
        <p>Spray Paint and Markers on 30"x24" Canvas</p>
        <p><a href="/assets/gallery/dreamtag.jpg" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag("gallery/elephants1.jpg", :class => "img-responsive", :alt => "elephants1") %>
      <div class="caption">
        <h3>Elephant Charms</h3>
        <p>Spray Paint on 20"x10" Canvas</p>
        <p>Credits: The Stencil Library</p>
        <p><a href="/assets/gallery/elephants1.jpg" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/tigerhead.jpg", :class => "img-responsive", :alt => "tigerhead") %>
      <div class="caption">
        <h3>Wild Cat!</h3>
        <p>Spray Paint on 16"x12" Wood Panel</p>
        <p><a href="/assets/gallery/tigerhead.jpg" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
</div>
