<div class="page-header">
  <h2>The Gallery  <small>A collection of my favorite art pieces</small></h2>
</div>
<!-- Sample Image Thumbnail with lightbox functionality
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/****.png", :class => "img-responsive", :alt => "...") %>
      <div class="caption">
        <h3>Image Label</h3>
        <p>...and description...wxh</p>
        <p><a href="/assets/gallery/****.png" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
-->

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag("gallery/lichspray.png", :class => "img-responsive", :alt => "lichspray") %>
      <div class="caption">
        <h3>Lichtenstein Remix</h3>
        <p>Spray Paint on 18"x14" Wood Panel</p>
        <p>Credits: Spray Can, Roy Lichtenstein</p>
        <p><a href="/assets/gallery/lichspray.png" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag("gallery/losttape.png", :class => "img-responsive", :alt => "losttape") %>
      <div class="caption">
        <h3>Lost in the Mix</h3>
        <p>Markers on 24"x18" Black Canvas</p>
        <p>Credits: Stencil1</p>
        <p><a href="/assets/gallery/losttape.png" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/koi1.png", :class => "img-responsive", :alt => "koi1") %>
      <div class="caption">
        <h3>Koi #1</h3>
        <p>Spray Paint on 20"x24" Wood Panel</p>
        <p>Credits: The Stencil Library</p>
        <p><a href="/assets/gallery/koi1.png" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/calavera1.png", :class => "img-responsive", :alt => "calavera1") %>
      <div class="caption">
        <h3>Skull and Rose</h3>
        <p>Spray Paint on 11"x14" Black Canvas</p>
        <p>Credits: Stencil1</p>
        <p><a href="/assets/gallery/calavera1.png" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/koi2.png", :class => "img-responsive", :alt => "koi2") %>
      <div class="caption">
        <h3>Koi #2</h3>
        <p>Spray Paint & Markers on 20"x24" Wood Panel</p>
        <p>Credits: The Stencil Library</p>
        <p><a href="/assets/gallery/koi2.png" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag("gallery/robotrock.png", :class => "img-responsive", :alt => "robotrock") %>
      <div class="caption">
        <h3>Robot Rock</h3>
        <p>Spray Paint and Markers on 24"x12" Canvas</p>
        <p>Credits: Daft Punk</p>
        <p><a href="/assets/gallery/robotrock.png" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag("gallery/risingdragons.png", :class => "img-responsive", :alt => "risingdragons") %>
      <div class="caption">
        <h3>Rising Dragons</h3>
        <p>Spray Paint and Markers on 36"x12" Canvas</p>
        <p>Credits: The Stencil Library</p>
        <p><a href="/assets/gallery/risingdragons.png" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/drips1.png", :class => "img-responsive", :alt => "drips1") %>
      <div class="caption">
        <h3>Drips #1</h3>
        <p>Spray Paint and Markers on 16"x18" Canvas</p>
        <p><a href="/assets/gallery/drips1.png" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/cheese.png", :class => "img-responsive lightbox_trigger", :alt => "cheese") %>
      <div class="caption">
        <h3>Cheese!</h3>
        <p>Markers on 10"x10" Wood Panel</p>
        <p>Credits: Stencil1</p>
        <p><a href="/assets/gallery/cheese.png" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/houndstooth1.png", :class => "img-responsive", :alt => "houndstooth1") %>
      <div class="caption">
        <h3>Houndstooth #1</h3>
        <p>Acrylic Paint and Markers on Wood Panel</p>
        <p>Credits: Stencil1</p>
        <p><a href="/assets/gallery/houndstooth1.png" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag("gallery/dreamtag.png", :class => "img-responsive", :alt => "dreamtag") %>
      <div class="caption">
        <h3>Dream Tag</h3>
        <p>Spray Paint and Markers on 30"x24" Canvas</p>
        <p><a href="/assets/gallery/dreamtag.png" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6">
    <div class="thumbnail">
      <%= image_tag("gallery/elephants1.png", :class => "img-responsive", :alt => "elephants1") %>
      <div class="caption">
        <h3>Elephant Charms</h3>
        <p>Spray Paint on 20"x10" Canvas</p>
        <p>Credits: The Stencil Library</p>
        <p><a href="/assets/gallery/elephants1.png" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gallery/tigerhead.png", :class => "img-responsive", :alt => "tigerhead") %>
      <div class="caption">
        <h3>Wild Cat!</h3>
        <p>Spray Paint on 16"x12" Wood Panel</p>
        <p><a href="/assets/gallery/tigerhead.png" class="btn btn-default lightbox_trigger" role="button">
          <span class="glyphicon glyphicon-fullscreen"></span> Full View</a></p>
      </div>
    </div>
  </div>
</div>
