<!DOCTYPE html>
<html lang="en">
<head>
  <title>StencilZoo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
            <!-- logo added here -->
        <%= link_to(image_tag("elelphant_blur_light.png", :alt => "logo", :class => "navbar-brand logo"), "/") %>
        <a href="/" class="navbar-brand">StencilZoo</a>
      </div>
      
         <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- removed =  -->
          <li><% link_to "All Statuses", feed_path %></li>
          <li><%= link_to "Tumblr/Blog", "http://stencilzoo.tumblr.com/" %></li>
          <li><%= link_to "Gallery", gallery1_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.full_name, edit_user_registration_path %></li>
            <li><%= link_to "Log Out", logout_path %></li>            
          <% else %>
            <li><% link_to "Register", register_path %></li>
            <li><% link_to "Log In", login_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <% flash.each do |type, message| %>
      <div class="alert <%= flash_class type %>">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= message %>
      </div>
    <% end %>
    
    <%= yield %>
  </div>
  <div class="navbar navbar-static-bottom">
    <div class="container footer">
        <p>Copyright 2013 StencilZoo.com</p>
    </div>
  </div>
  <!-- LightBox -->
  <script src="https://code.jquery.com/jquery-1.6.2.min.js"></script>
  <script>
  jQuery(document).ready(function($) {
      $('.lightbox_trigger').click(function(e) {
          //prevent default action (hyperlink)
          e.preventDefault();
          //Get clicked link href
          var image_href = $(this).attr("href");
          /*
          If the lightbox window HTML already exists in document,
          change the img src to to match the href of whatever link was clicked
          If the lightbox window HTML doesn't exists, create it and insert it.
          (This will only happen the first time around)
          */
          if ($('#lightbox').length > 0) { // #lightbox exists
              //place href as img src value
              $('#content').html('<img src="' + image_href + '" />');
              //show lightbox window - you could use .show('fast') for a transition
              $('#lightbox').show();
          }
          else { //#lightbox does not exist - create and insert (runs 1st time only)
              //create HTML markup for lightbox window
              var lightbox =
              '<div id="lightbox">' +
                  '<p>Click to close</p>' +
                  '<div id="content">' + //insert clicked link's href into img src
                      '<img src="' + image_href +'" />' +
                  '</div>' +
              '</div>';
              //insert lightbox HTML into page
              $('body').append(lightbox);
          }
      });
      //Click anywhere on the page to get rid of lightbox window
      $('#lightbox').live('click', function() { //must use live, as the lightbox element is inserted into the DOM
          $('#lightbox').hide();
      });
  });
  </script>
</body>
</html>
